@import "~src/app/scss/variables";

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  background-color: $color-primary-light;
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  height: 70px;
  &__title {
    color: $color-white;
    font-weight: 500;
    text-transform: capitalize;
  }
}
